#VS
*.csproj
*.sln
*.userprefs
*.suo
obj/

#Unity
Library/
Temp/
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Assets/Images/Levels/NuclearLevel4.psd.meta
Assets/Images/Levels/NuclearLevel4.psd.meta
Assets/Images/Levels/NuclearLevel4B.png.meta
Assets/Images/Levels/NuclearLevel4C.png.meta
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
*.meta
Assets/Images/Materials.meta
*.meta
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll